
h1 {
   color: black;
   text-align: center;
}
h2{
   color: black;
   text-align: center;
}
h3{
   color: black;
   text-align: left;
}
h4{
   color: black;
   text-align: left;
}
p {
	  	color: black;
}


body{
     background-color: #C3C592;
}